@import "../colors";

.app {
  &__header {
    color: $muted;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.8rem;

    &__title {
      user-select: none;
    }

    &__nav__list {
      list-style: none;
    }

    &__nav__list-item {
      color: $muted;
      text-decoration: none;

      &--active {
        color: $selected;
      }

      &:not(:last-child) {
        margin-right: 1.8rem;
      }
    }
  }
}
