# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Render and Deploy

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    if: "!contains(github.event.head_commit.message, 'Rendered changes')"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        persist-credentials: false
        fetch-depth: 0
    - name: Build
      uses: actions/setup-node@v3
      with:
        node-version: 18.x
        cache: 'npm'
    - run: npm install
    - run: npm test -- --browsers=ChromeHeadless --watch=false
    - run: npm run build --if-present
    - run: ls -l
    - run: tar -cvf build ./dist && gzip -c build > github_pages
    - name: Commit files
      run: |
        git config --local user.email "github-actions[bot]@users.noreply.github.com"
        git config --local user.name "github-actions[bot]"
        git add github_pages
        git commit -a -m "Rendered changes"
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: ${{ github.ref }}
