name: Build and Deploy
on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Setup
      uses: actions/setup-node@v3
      with:
        node-version: 18.x
        cache: 'npm'
    - name: Install
      run: npm install
    - name: Test
      run: npm test -- --browsers=ChromeHeadless --watch=false
    - name: Build
      run: npm run build --if-present
    - name: Upload Artifact
      uses: actions/upload-pages-artifact@v1
      with:
        path: dist
  deploy:
    needs: build
    permissions:
      pages: write
      id-token: write
      actions: read
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
    - name: Deploy
      id: deployment
      uses: actions/deploy-pages@v3
